
*#*
*~
*.a
aclocal.m4
*.app
autom4te.cache
build-aux
build-config.h
build-config.h.in
*.cache
# compilation artifacts
CONFIG
config.log
config.status
configure
# Debug files
.deps/*
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
# Executables
*.gch
*.hex
*.i*86
*.ko
*.la
*.lib
libopenarc/symbols.map
# Libraries
libtool
*.lo
Makefile
Makefile.in
*.o
*.obj
# Object files
openarc/.libs/
# other nonsense
*.out
*.pch
# Precompiled Headers
# Shared objects (inc. Windows DLLs)
*.so
*.so.*
stamp-h1
**/TAGS
# tarballs
*.tar.gz
*.x86_64
